  html {
    font-family: Helvetica,Arial,sans-serif;
}

 header {
    background-color: black;     
    box-sizing: border-box;
    margin: 9 auto;

} 
 header div.container{    
    padding: auto;
    margin-top: 9px;
    
    
} 
 .writerLogo{    
    margin: auto 5px;    
    box-sizing: border-box;    
    color: white;
    font-weight: bold;
    font-size: 1.2em;
} 
#navBarPrimary ul li a {
    color: white;
    font-weight: bold;
    padding: 0 17px;
}
.separador {
    border: 1px white solid;    
    height: 18px;
    margin: auto 17px;
    
}  

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }
#navBarPrimary ul li a {
    margin: 6px 0;
    display: inline-block;
} 
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }

@import "../node_modules/bootstrap/scss/bootstrap.scss"