//Global e ou caracteriscas gerais
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica,Arial,sans-serif;
}

.termo_condições {
     font-size: 12px;
}

p.termo_condições a {    
    color: white;    
}

div.card p.termo_condições a {
    color: black
}

.section1 div a, div.card-body ul+a {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 14px 32px;    
}

//navbar
 header {
    background-color: black;     
    box-sizing: border-box;
    margin: 9 auto;

} 

 header div.container{    
    padding: auto;
    margin-top: 9px;    
} 

 .writerLogo{    
    margin: auto 5px;    
    box-sizing: border-box;    
    color: white;
    font-weight: bold;
    font-size: 1.2em;    
}

#navBarPrimary ul li a {
    color: white;
    font-weight: bold;
    padding: 0 17px;
    margin: 7px 0;
    display: inline-block;
}

.separador {
    border: 1px white solid;    
    height: 18px;
    margin: auto 17px;
}

nav#navBarPrimary a:hover {
    color: #0BC660;
}

//Primeira section
.section1 {
    background-color: #1D75DE;
    color: white;
    padding-top: 48px;
}

.section1 section.container h1 {
    font-size: 2em;
}

.initDescripion {
    margin: 20px 0;
    font-weight: bold;
}



//inicio da section 2
.section2 {
    margin: 35px 0;    
}

section.section2 h1{
    font-weight: 700;
    margin-bottom: 40px;
}

div.iconSectionTwo {
    display: flex;
    align-items: center;
}

div.iconSectionTwo i {
    display: flex;
    width: 110px;
    height: 110px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #EEEEEE;
    margin: 0px 20px 40px 0;
}

div.iconSectionTwo h2 {
    font-weight: 700;    
}

//inicio da terceira section
div.bgSection3 {
    background-color: #EFEFEF;
    padding: 35px 15px;    
}

div.bgSection3 h1 {
    font-weight: 700;
}

.descritionh1 {
    text-align: center;
    font-size: 1.1em;
    padding: 0 10px;    
}

div.card {
   width: 480px;
   margin-bottom: 20px;
}

div.card span {
    padding: 4px 8px;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 0.9em;
    cursor: text;
    user-select: auto;    
}   

div.card h2 {
    font-weight: 700;
}

div.card h2+p{
    font-size: 1.1em;    
}

div.card span.btn-outline-primary:hover {
    background-color: white;
    color: #0d6efd;
} 

div.card ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    div.section1 div a.btn-dark {
        margin-right: 10px; 
    }
    .section1 section.container h1 {
        font-size: 2.7em;
        
    }
    .initDescripion {
        font-size: 1.5em;
    }
    section.section2 h1{
       font-size: 3em;
       margin-bottom: 80px;
    }
    .section2-layout{
        display: flex;
        justify-content: center;       
    }
    div.iconSectionTwo {
        display: flex;
        align-items: start;
    }
    div.iconSectionTwo i {
        display: flex;
        width: 90px;
        height: 90px;       
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #EEEEEE;
        margin: 0 20px 40px 0;        
    }    
    div i.fa-solid{
        flex-shrink: 0
    }
    div.section2-layout h2{
        font-size: 1.3em;        
    }

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    header {
        height: 80px;
    }    
    .section1 section.container h1 {
        font-size: 3em;
    }
    .initDescripion {
        font-size: 2em;
    }
    div.iconSectionTwo h2 {
        margin-right: 20px;
        font-size: 2em;
    }
    div.iconSectionTwo i {
        width: 120px;
        height: 120px;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    div.iconSectionTwo   { //cada unid
        display: flex;
        flex-direction: column;        
        align-items: center;       
    }
    div.section2-layout>div {
        display: flex;
    }
    div.iconSectionTwo {
        width: 285px;
        height: 285px;
        box-sizing: border-box;
    }
    div.iconSectionTwo i {
        width: 142px;
        height: 142px;       
        margin: 0 70px 40px 70px;        
    }
    div.iconSectionTwo h2 {
        margin: 0 0 10px 0;
        font-size: 1.3em;
        text-align: center;
    }
    div.iconSectionTwo div p {
        text-align: center;
    }
    div.card {
        width: 300px;
        margin: 0 16px 0 0;
        
     }
     div.card h2+p{
        font-size: 1.1em;    
    }
    div.card ul {
        height: 443.28px;
    }

 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }

@import "../node_modules/bootstrap/scss/bootstrap.scss"